.button {
    height: 100%;
    float: left;
    font-size: 20px;
}

.fourButtonRow {
    width: 25%;
}

.threeButtonRow {
    width: 33.33%;
}

.buttonSet {
    height: 50px;
    width: 200px;
}

#display {
    height: 50px;
    width: 195px;
    font-size: 20px;
    text-align: right;
    background-color: azure;
}

#currentFormula {
    height: 25px;
    width: 200px;
    font-size: 15px;
    text-align: right;
}

.calculator {
    display: table;
    margin: 0 auto;
    padding: 3em;
    background-color: skyblue;
}

h1 {
    text-align: center;
    font-family: fantasy;
}

body {
    background-color: aliceblue;
}